label { position: relative; }

.tooltip 
{
	display: block;
	visibility: hidden;
	position: absolute;
	left: 30em; top: 0; padding 0.5em; width: 10em;
	border:solid 2px #425955;
	background-color: #BFBD9F;
}